@using Carsharing_Lombardi_Saturnio.ViewModels;
@model RegisterViewModel
@{
    Layout = "_Layout_not_connected";
    ViewData["Title"] = "Register Page";
}
@if (TempData["Error"] != null)
{
    <span class="alert alert-danger">@TempData["Error"]</span>
    <br />
}
<a class="navbar-brand" asp-controller="User" asp-action="Login">Return to Login</a>
<h1>Register Form</h1>
<form asp-controller="User" asp-action="Register" method="post">
    <label asp-for="First_Name"></label><br>
    <input asp-for="First_Name" /><br>
    <span asp-validation-for="First_Name"></span><br>
    <label asp-for="Last_Name"></label><br>
    <input asp-for="Last_Name" /><br>
    <span asp-validation-for="Last_Name"></span><br>
    <label asp-for="Phone_number"></label><br>
    <input asp-for="Phone_number" /><br>
    <span asp-validation-for="Phone_number"></span><br>
    <label asp-for="Username"></label><br>
    <input asp-for="Username" /><br>
    <span asp-validation-for="Username"></span><br>
    <label asp-for="Password"></label><br>
    <input asp-for="Password" /><br>
    <span asp-validation-for="Password"></span><br>
    <label asp-for="ConfirmPassword"></label><br>
    <input asp-for="ConfirmPassword" /><br>
    <span asp-validation-for="ConfirmPassword"></span><br>
    <input type="submit" value="Submit" />
</form>
