@model User
<h1>Welcome @Model.Username</h1>
<p>For see online offer click on this link: <a asp-controller="Passenger" asp-action="ViewOffers">View Offers</a></p>
<br />
<p>For see your accepted offers clic on this link: <a asp-controller="Passenger" asp-action="ViewAcceptedOffer">View your accepted offer</a></p>
<br />
<a asp-controller="User" asp-action="Login">Exit</a>